<h1>Modifier un nouveau suivi de poids</h1>

<%= form_with(model: @weight_entry, local: true) do |form| %>
    <% if @weight_entry.errors.any? %>
        <div>
            <h2>Erreur(s) de validation</h2>
            <ul>
                <% @weight_entry.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <%end %>

    <div class="mb-4">
        <%= form.label :weight %>
        <%= form.number_field :weight, step: "0.1", placeholder: "Entrez votre poids" %>
    </div>

    <div class="mb-4">
        <%= form.label :date, "Date" %>
        <%= form.date_field :date %>
    </div>

    <div class="flex justify-end">
        <%= form.submit "Enregistrer" %>
    </div>
<% end %>

<%= link_to 'Retour', weight_entries_path %>


